body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  header {
    background-color: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  .featured-books {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 2rem;
  }
  .book {
    border: 1px solid #ddd;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  .book:hover {
    transform: translateY(-5px);
  }
  .book img {
    max-width: 80%;
    
  }
  .book-title {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    white-space: nowrap;
  }
  .custom-nav {
    padding: 0rem 0rem; /* adjust as needed */
}
/* About.css */
.about-container {
  padding: 20px;
  background-color: #f9f9f9;
  color: #333;
  font-family: Arial, sans-serif;
}

.about-container h1 {
  margin-bottom: 20px;
  color: #444;
}

.about-container p {
  margin-bottom: 10px;
  line-height: 1.6;
}
/* Contact.css */
.contact-container {
  padding: 20px;
  background-color: #f9f9f9;
  color: #333;
  font-family: Arial, sans-serif;
}

.contact-container h1 {
  margin-bottom: 20px;
  color: #444;
}

.contact-container p {
  margin-bottom: 10px;
  line-height: 1.6;
}

.contact-container ul {
  list-style: none;
  padding-left: 0;
  
}

.contact-container li {
  margin-bottom: 10px;
}

.contact-info {
  text-align: left;
}
